body {
  font-family: sans-serif;
}

input {
  border: 1px solid rgb(11, 42, 221);
  padding: 0.5rem;
  width: 300px;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}
.highlighted { 
  color: rgb(18, 214, 214);
}
.heading{
  padding: 10px;
  /* background-color: peachpuff; */
  color: rgb(18, 214, 214);
  font-family: cursive;
}
.App{
 
  margin-left: 36vW;
  padding: 2vW;
  margin-right: auto;
}
.suggestion-active,
.suggestions li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 700;
}
.suggestion-inactive {
background-color: rgb(100, 92, 92);
  color: white;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
